In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('swiggy.csv')
data.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [34]:
data.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [35]:
data.drop(["id", "lic_no", "link", "address", "menu"], axis=1, inplace=True)

Check for Missing Values:

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148455 non-null  object
 1   city          148541 non-null  object
 2   rating        148455 non-null  object
 3   rating_count  148455 non-null  object
 4   cost          148410 non-null  object
 5   cuisine       148442 non-null  object
dtypes: object(6)
memory usage: 6.8+ MB

In [37]:
data.isnull().sum()

name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
dtype: int64

In [38]:
data[data['name'].isnull()]

       name                       city rating rating_count cost cuisine
31044   NaN  Greater Mohali,Chandigarh    NaN          NaN  NaN     NaN
32912   NaN        West Chd,Chandigarh    NaN          NaN  NaN     NaN
33046   NaN        West Chd,Chandigarh    NaN          NaN  NaN     NaN
33488   NaN       South Chd,Chandigarh    NaN          NaN  NaN     NaN
36492   NaN        George Town,Chennai    NaN          NaN  NaN     NaN
...     ...                        ...    ...          ...  ...     ...
137122  NaN                     Satara    NaN          NaN  NaN     NaN
137546  NaN                   Shillong    NaN          NaN  NaN     NaN
137614  NaN                 Shivamogga    NaN          NaN  NaN     NaN
138380  NaN                      Sirsa    NaN          NaN  NaN     NaN
141568  NaN         Thiruvananthapuram    NaN          NaN  NaN     NaN

[86 rows x 6 columns]

In [39]:
data.dropna(subset=['name'], inplace=True)

In [40]:
data.isnull().sum()

name             0
city             0
rating           0
rating_count     0
cost            45
cuisine         13
dtype: int64

In [41]:
# Remove currency symbols and convert to numeric
data['cost'] = data['cost'].str.replace('₹', '').str.replace(',', '')
data['cost'] = data['cost'].fillna(200)
data['cuisine'] = data['cuisine'].fillna('multicuisine')
#data['lic_no'] = data['lic_no'].fillna('unknown')

In [42]:
data.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

Check for Duplicates

In [43]:
data.duplicated().sum()

np.int64(10)

In [44]:
data['rating'] = data['rating'].str.replace('--', '0').str.replace('-', '0').astype(float)

In [45]:
data['cost'] = data['cost'].astype(int)

In [46]:
data.reset_index(drop=True, inplace=True)

In [47]:
data.head()

,name,city,rating,rating_count,cost,cuisine
0,AB FOODS POINT,Abohar,0.0,Too Few Ratings,200,"Beverages,Pizzas"
1,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery"
2,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages
3,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian"
4,GRILL MASTERS,Abohar,0.0,Too Few Ratings,250,"Italian-American,Fast Food"

In [48]:
data.shape

(148455, 6)

In [49]:
data.to_csv("cleaned_data.csv", index=False)